<!doctype html>
<html lang="en">
<head>

  <%- title %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%- meta %>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%- assetsPath %>/app.css">

  <%- link %>

</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0px; font-size: 13px; line-height: 20px;">
  <script>window.isomorphicVars = <%- isomorphicVars %></script>
  <script>window.process = { env: { NODE_ENV: '<%- NODE_ENV %>' } }</script>
  <div id="root"><%- reactOutput %></div>
  <script id="preloadedData" type="application/json"><%- preloadedData %></script>
  <script src="<%- assetsPath %>/app.js"></script>
</body>
</html>
