<!DOCTYPE html>
<html><head>

<meta charset="utf-8">
<%- helmet.title %>
<%- helmet.meta %>
<%- helmet.link %>
<link rel="stylesheet" href="<%- assets_path %>/client.css">
<style type="text/css" id="server-side-styles">
  <%- server_side_styles %>
</style>
<script>
  var appData = <%- appData %>
</script>

</head><body>

<div id="root"><%- root_html %></div>
<script>
  window.__RELAY_PAYLOADS__ = <%- relay_payload %>
</script>
<script src="<%- assets_path %>/vendor.js"></script>
<script src="<%- assets_path %>/client.js"></script>

</body></html>
